<template>
  <div id="home" class="home" ref="home">
    <div>
      <el-button type="primary">主要按钮</el-button>
    </div>
  </div>
</template>
<script>
export default {
  name: "home",
  setup() {},
};
</script>
<style scoped >
</style>